RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

SetEnv HTTP_TWILIO_ACCOUNT_SID "ACd1981b45e18b4b9f628da6a1e823e9fd"
SetEnv HTTP_TWILIO_AUTH_TOKEN "c74fd7d641f3049af930cc660b3e9424"

SetEnv HTTP_STRIPE_EPS "whsec_62c70a27f8170e209eaa7988270f5529de3db6bed9f0c8ee5e8af782320cb6ca"
SetEnv HTTP_STRIPE_API_KEY "sk_test_51M5ccTGKAmAzjfJLpCQMWCKXv8uE7FRSskHYlwnqSWUXnL9RKPId4RcEg9EEBCmB0r2OB7bo0pfzZWu1Szsl7Xcr00KGAyITWr"
SetEnv HTTP_STRIPE_BASIC_CHARGE "price_1M5cg0GKAmAzjfJLv1niBoq4"
SetEnv HTTP_STRIPE_BOOST_3 "price_1M5ct1GKAmAzjfJLOcIBPEHh"
SetEnv HTTP_STRIPE_BOOST_7 "price_1M5ctQGKAmAzjfJLB7eSSBM7"
SetEnv HTTP_STRIPE_BOOST_30 "price_1M5ctqGKAmAzjfJLqsBOUNNN"
SetEnv HTTP_HEREAPI_KEY "XjQQayIGM2-hgGqqTFmVwhZh3j2ZVBUSMZz-DJHfTu4"

SetEnv HTTP_POSTMARK_API_KEY "a1c2c014-cf35-4fd1-98dd-68acbae1a7ce"